{{!-- <div>
    {{!-- TODO: Add option to add a new blog post --}}
    <h3>My Dashboard</h3>
</div>
{{#if posts.length}}
<div>
    {{#each posts as |post|}}
        {{!-- Call the posts.handlebars partial to render the posts --}}
        {{> posts post}}
        {{!-- TODO: Add option to update/edit blog posts  --}}
    {{/each}}
</div>
{{else}}
    <h4>You don't have any posts yet! Click the "New Post" button to get started.</h6>
{{/if}}
</div> --}}

<h1>My Dashboard</h1>
{{!-- <section id="existingblogs">
{{#each blogs}}
  <section class="card">
      <a href="/blogs/{{id}}" class="card-body">
        <h3 class="card-title">{{title}}</h3> 
        <h5>Posted on {{createdAt}}</h5>
        <p class="card-text">{{content}}</p>
    </a>
  </section>
{{/each}}
</section> --}}